<%= semantic_form_for @producto do |f| %>
  <table>
    <tbody>
      <tr>
          <td><%= f.input :registro_sanitario, :label => "Registro Sanitario" %></td>
          <td><%= f.input :alimento, :as => :radio, :collection => [["Alimento", true], ["Licor", false]], :label => "Tipo"%></td>
      </tr>
      <tr>
          <td><%= f.input :nombre, :label => "Nombre"%></td>
          <td><%= f.input :marca, :label => "Marca"%></td>
      </tr>
      <tr>
          <td><%= f.input :pais_elaboracion, :as => :country, :label => "Procedencia"%></td>
          <td><%= f.input :fabricante, :label => "Fabricante"%></td>
      </tr>
      <tr>
          <td><%= f.input :codigo_arancelario, :label => "Código Arancelario"%></td>
          <% if flash[:accion] == "Crear Producto"%>
            <td><%= f.input :usuario_id, 
                        :as => :select, 
                        :collection => @companias, 
                        :selected => @companias[0], 
                        :label => "Cliente" %></td>
          <% else %>
            <td></td>
          <% end %>
      </tr>
      <tr>
        <td><%= f.input :zona_venta, 
                    :as => :select, 
                    :collection => [["Tierra firme"], ["Puerto libre Isla de Margarita"], ["Puerto libre Santa Helena de Uairen"], ["Duty free"]], 
                    :selected => "Tierra firme", 
                    :label => "Zona de régimen aduanero"%>
          <td><%= f.input :on, :label => "Status", :as => :radio, :collection => [["Habilitado", 1], ["Deshabilitado", 0]]%></td>
      <tr>
        <td><%= f.input :grado_alcoholico, :as => :select, :collection => 1..50, :label => "Grado Alcohólico"%></td>
        <td></td>
      </tr>
      <tr>
          <td>
            <%= f.action :submit, :label => flash[:accion], :button_html => { :disable_with => "Enviando..."} %>
          </td>
          <td>
            <button type="button" class="btn btn-default">
              <%= link_to 'Volver', :back %>
            </button>
          </td>
      </tr>
    </tbody>
  </table>
<% end %>
<%= content_tag :div, :id => "autocomplete", :data => {:marcasDisponibles => @marcas, :fabricantesDisponibles => @fabricantes } do %>
<% end %>
