<%= semantic_form_for @producto do |f| %>
  <ul>
    <table class="table_forms">
      <thead>
        <tr>
          <td colspan="2">
            <h1>
              <%=flash[:accion]%>
            </h1>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= f.input :registro_sanitario, :label => "Registro Sanitario" %>
          </td>
          <td>
            <%= f.input :alimento, :as => :radio, :collection => [["Alimento", true], ["Licor", false]], :label => "Tipo"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :nombre, :label => "Nombre"%>
          </td>
          <td>
            <%= f.input :marca, :label => "Marca"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :pais_elaboracion, :as => :country, :label => "País de origen"%>
          </td>
          <td>
            <%= f.input :fabricante, :label => "Fabricante"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :codigo_arancelario, :label => "Código alancelario"%>
          </td>
          <% if flash[:accion] == "Crear Producto"%>
          <td>
            <%= f.input :usuario_id, :as => :select, :collection => @companias, :label => "Cliente"%>
          </td>
        <% else %>
          <td></td>
        <% end %>
        </tr>
        <tr>
          <td>
            <%= f.action :submit, :label => flash[:accion] %>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </ul>
<% end %>
<%= content_tag :div, :id => "autocomplete", :data => {:marcasDisponibles => @marcas, :fabricantesDisponibles => @fabricantes } do %>
<% end %>
