<div class="span3">
  <script>
    function agregarSelect(obj){
      var val = $(obj).val();
      /*Falta deshabilitar los selects*/
      if (val == '6') {
        $(obj).parent().find('.importador_div').hide();
        $(obj).parent().find('.presentacion_div').show();
      } else if (val == '9') {
        $(obj).parent().find('.presentacion_div').hide();
        $(obj).parent().find('.importador_div').show();
      } else {
        $(obj).parent().find('.presentacion_div').hide();
        $(obj).parent().find('.importador_div').hide();
      }
    }
  </script>
</div>
<div class="span6">
  <h3>Documentación</h3>
  <h4>Expendiente: <%= @producto.nombre%></h4>
  <p>Recuerde registrar las presentaciones e importadores antes de continuar</p>
  </br>
  <%= nested_form_for @producto do |f| %>
    <%= f.fields_for :documentos do |d| %>
      <div>
        <h5 style="text-decoration:underline;">Nuevo documento:</h5>
        <%= d.label :TipoDocumento_id, "Tipo" %>
        <%= d.select :TipoDocumento_id, @tipos.map{|x| [x.descripcion, x.id]}.unshift(["Seleccione un tipo",""]), { }, { :class => "tipo_doc", :onchange => "agregarSelect(this)" }%>
        <%= d.link_to_remove "Eliminar" %>
        <div class="presentacion_div" style="display:none;">
          <% if not @presentaciones.empty? %>
              <%= d.label :presentacion_id, "Presentación"%>
              <%= d.select( :presentacion_id, @presentaciones.map{|x| [x.empaque, x.id] } ) %>
          <% else %>
            <p>No existen presentaciones asociadas a este producto</p>
          <% end %>
        </div>
        <div class="importador_div" style="display:none;">
          <% if not @importadores.empty? %>
            <%= d.label :importador_id, "Importador"  %>
            <%= d.select( :importador_id, @importadores.map{|x| [x.nombre, x.id] } ) %>
          <% else %>
            <p>No existen importadores asociados a este producto</p>
          <% end %>
        </div>

        <%= d.label :fecha_vencimiento, "Vence"%>
        <%= d.text_field :fecha_vencimiento, :class => "vence_documento" %>
        <%= d.label :pdf, "Documento" %>
        <%= d.file_field :pdf, :as => :file, :label => false %>
      </div>
    <% end %>
    <%= f.link_to_add "Agregar", :documentos %>
    <%= f.submit 'Enviar', :class => "btn btn-default" %>
  <% end %>
</div>
<div class="span3"></div>
