<div class="span1"></div>
<div class="span4">
    <div class="media">
      <h3 class="media-heading"><%=@producto.nombre %></h3>
      <% if @producto.alimento %>
        <%= image_tag "/assets/food.png", :class => "prod_title_icon media-object" %>
      <% else %>
        <%= image_tag "/assets/wine.png", :class => "prod_title_icon media-object" %>
      <% end %>
    </div>
    <span style="font-weight:bold;font-size:x-small;font-style:italic;">
      <% if @producto.on == 1 %>
        <span style="color:green;"> Visible </span>
      <% else %>
        <span style="color:red;"> Oculto </span>
      <% end %>
  <table class="table">
    <% if current_usuario.admin > 0 %>
      <tr>
        <td><b>Cliente:</b></td>
        <td><%= @cliente.compania %></td>
      </tr>
    <% end %>
    <tr>
      <td><b>Nº Registro:</b></td>
      <td><%= @producto.registro_sanitario %></td>
    </tr>
    <tr>
      <td><b>Tipo:</b></td>
      <td>
      <% if @producto.alimento %>
        Alimento
      <% else %>
        Licor
      <% end %>
      </td>
    </tr>
    <tr>
      <td><b>Marca:</b></td>
      <td><%= @producto.marca %></td>
    </tr>
    <tr>
      <td><b>Pais elaboracion:</b></td>
      <td><%= Carmen::Country.coded(@producto.pais_elaboracion).name %></td>
    </tr>
    <tr>
      <td><b>Fabricante:</b></td>
      <td><%= @producto.fabricante %></td>
    </tr>
    <tr>
      <td><b>Código arancelario:</b></td>
      <td><%= @producto.codigo_arancelario %></td>
    </tr>
    <tr>
      <td><b>Zona régimen aduanero</b></td>
      <td><%=@producto.zona_venta%></td>
    </tr>
    <% if not @producto.alimento %>
      <tr>
        <td><b>Grado Alcohólico:</b></td>
        <td><%=@producto.grado_alcoholico%></td>
      </tr>
    <% end %>
  </table>
    <% if current_usuario.admin > 0 %>
      <div class="btn-group pull-left">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Acciones
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to 'Editar', edit_producto_path(@producto) %></li> 
          <li> 
          <a href="#" onclick="$('#hide-form').submit()">
          <% if @producto.on == 1 %> 
            Ocultar
          <% elsif @producto.on == 0 %>
            Mostrar
          <% end %>
          </a></li>
          <li><%= link_to 'Ver registro', logproductos_show_by_user_path(:id => @producto.id) %></li>
          <li><%= link_to 'Eliminar', @producto, method: :delete, data: { confirm: '¿Seguro desea eliminar este producto?'} %></li>
        </ul>
        <button type="button" class="btn btn-default"><%= link_to 'Volver', :back %></button>
      </div>
      <%= form_tag productos_ocultar_path, method: :post, :id => "hide-form" do %>
      <%= hidden_field_tag :id, @producto.id %>
      <% end %> 
    <% end %>
  </div>

  <div class="span1">
  <%= form_tag '/productos/show_importadores', :method => :post, :remote => true, :id => "show-importadores" do %>
    <%= hidden_field_tag :id, @producto.id %>
  <% end %>
  <%= form_tag '/productos/show_presentaciones', :method => :post, :remote => true, :id => "show-presentaciones" do %>
    <%= hidden_field_tag :id, @producto.id %>
  <% end %>
  <%= form_tag '/productos/show_documentos', :method => :post, :remote => true, :id => "show-documentos" do %>
    <%= hidden_field_tag :id, @producto.id %>
  <% end %>
  </div>

  <div id="extra-productos" class="span5">
    <button class="btn btn-default pull-right" onclick="$('#show-importadores').submit()">Importadores</button>
    <button class="btn btn-default pull-right" onclick="$('#show-presentaciones').submit()">Presentaciones</button>
    <button class="btn btn-default active pull-right">Documentos</button>
    <div class="tableContainer">
    <table class="table extra-table table-hover">
      <% @documentos.each do |d|%>
      <tr>
        <td>
          <% if current_usuario.admin > 0 %>
            <%= link_to d[1], d[0].pdf.url, :target => "_blank"%> 
            <%= link_to image_tag("/assets/delete.png", :class => "borrar_doc pull-right", :title => "Borrar documento"), d[0], :method => :delete, 
              data: { confirm: '¿Esta seguro de eliminar este documento?'} %>
              <%= form_tag documentos_ocultar_path, method: :post, :class => "nh-form" do %>
              <%= hidden_field_tag :id, d[0].id %>
              <% if d[0].on == 1 %> 
                <%= image_submit_tag("/assets/eye-open.png", :class => "borrar_doc pull-right", :title => "Ocultar documento")%>
              <% else %>
                <%= image_submit_tag("/assets/eye-close.png", :class => "borrar_doc pull-right", :title => "Mostrar documento")%>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
        </td>
      </tr>
    </table>
  </div>
    <% if current_usuario.admin > 0 %>
      <button class="btn btn-default add-stuff">
        <%= link_to 'Agregar documento', new_documento_path(:producto_id => @producto.id) %>
      </button>
    <% end %>
  </div>
  <div class="span1">
    <div id="importador-existente" style="display:none;">
      <p>Debe agregar la inclusión de este importador manualmente en la sección de documentos de este producto</p>
      <%= form_tag '/importadors/seleccionar_existente', :method => :post, :remote => true, :id => "importador-existente-form" do %>
        <%= hidden_field_tag :producto_id, @producto.id %>
        <%= select_tag :importador_id, options_for_select(@importadores_todos.map{|x| [x.nombre, x.id] })%>
        <%= submit_tag "Enviar", :button_html =>  {:disable_with => "Enviando"} , :class => "btn btn-default"%>
      <% end %>
    </div>
  </div>
