<table class="area_show">
  <tr>
    <td>
      <div class="title_show">
        <h2><%=@producto.nombre %></h2>
        <% if @producto.alimento %>
          <%= image_tag "/assets/food.png", :class => "prod_title_icon" %>
        <% else %>
          <%= image_tag "/assets/wine.png", :class => "prod_title_icon" %>
        <% end %>
      </div>
    </td>
    <td>
      <div class="title_show">
        <button style="float:right;"> <%= link_to 'Agregar Documento', new_documento_path %></button>
        <h2>Documentos</h2>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <table class="tabla_show">
        <tr>
          <td>
            <b>Nº Registro:</b>
          </td>
          <td>
            <%= @producto.registro_sanitario %>
          </td>
        </tr>
      <tr>
        <td>
          <b>Tipo:</b>
        </td>
        <td>
          <% if @producto.alimento %>
            Alimento
          <% else %>
            Licor
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <b>Marca:</b>
        </td>
        <td>
          <%= @producto.marca %>
        </td>
      </tr>
      <tr>
        <td>
          <b>Pais elaboracion:</b>
        </td>
        <td>
          <%= Carmen::Country.coded(@producto.pais_elaboracion).name %>
        </td>
      </tr>
      <tr>
        <td>
          <b>Fabricante:</b>
        </td>
        <td>
          <%= @producto.fabricante %>
        </td>
      </tr>
      <tr>
        <td>
          <b>Codigo arancelario:</b>
        </td>
        <td>
          <%= @producto.codigo_arancelario %>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
        </td>
      </tr>
      <% if current_usuario.admin > 0 %>
        <tr>
          <td>
            <button>
              <%= link_to 'Editar Producto', edit_producto_path(@producto) %> 
            </button>
          </td>
          <td>
            <button>
              <%= link_to 'Eliminar Producto', @producto, method: :delete, data: { confirm: '¿Esta seguro de eliminar este producto?'} %> 
            </button>
          </td>
        </tr>
      <% end %>
    </table>
    </td>
    <td class="conf_list" valign="top">
      <ul>
        <% @documentos.each do |d|%>
          <li>
          <%= link_to d[1], d[0].pdf.url, :target => "_blank" %> 
          <% if current_usuario.admin > 0 %>
            <%=link_to image_tag("/assets/delete.png", :class => "borrar_doc", :title => "Borrar documento"), d[0], :method => :delete, data: { confirm: '¿Esta seguro de eliminar este documento?'} %>
          <% end %>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
<div id="dialog_contr" style="display:none;" style="margin:0; padding:0; height: 300px;"></div>
