<div class="span3"></div>
<div class="span5">
  <%= semantic_form_for @documento do |f| %>
    <legend>
      <%=flash[:accion]%>
    </legend>
    <table>
        <%= f.semantic_fields_for :TipoDocumento do |td| %>
          <tr>
            <td>
              <%= td.input :descripcion, :as => :select, :collection => @tipos, :label => "Tipo" %>
            </td>
            <td id="Otro">
            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            <%= f.input :fecha_vencimiento, :as => :string, :class=> "date_picker", :label => "Vence" %>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :pdf, :as => :file, :label => false %>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
              <%= f.action :submit, :label => flash[:accion] %>
          </td>
          <td></td>
        </tr>
    </table>
<% end %>
</div>
<div class="span4"></div>
