<div class="span3"></div>
<div class="span5">
  <%= semantic_form_for @documento do |f| %>
    <legend>
      <%=flash[:accion]%>
    </legend>
    <table>
      <%= f.semantic_fields_for :TipoDocumento do |td| %>
          <tr>
            <td>
              <% if @tramitando %>
                <%= td.input :descripcion, :as => :string, :input_html => {:value => @descripcion, :readonly => true},  :label => "Tipo" %>
              <% else %>
                <%= td.input :descripcion, :as => :select, :collection => @tipos, :label => "Tipo"%>
              <% end %>
            </td>
            <td id="Otro">
            </td>
          </tr>
        <% end %>
      <% if flash[:accion] == "Agregar Documento" %>
          <tr>
            <td>
              <%= f.input :producto_id, :as => :hidden, :input_html => { :value => @producto_id } %>
            </td>
          </tr>
        <% end %>

        <tr>
          <td>
            <%= f.input :fecha_vencimiento, :as => :string, :class=> "date_picker", :label => "Vence" %>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :pdf, :as => :file, :label => false %>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.action :submit, :label => flash[:accion],:button_html => { :disable_with => "Enviando..."} %>
          </td>
          <td></td>
        </tr>
    </table>
<% end %>
</div>
<div class="span4"></div>
