<div class="span3"></div>
<div class="span5">
  <%= semantic_form_for @documento do |f| %>
    <legend>
      <%=flash[:accion]%>
    </legend>
    <table>
      <%= f.semantic_fields_for :TipoDocumento do |td| %>
          <tr>
            <td>
              <% if @tramitando %>
                <%= td.input :descripcion, :as => :string, :input_html => {:value => @descripcion, :readonly => true},  :label => "Tipo" %>
              <% else %>
                <%= td.input :descripcion, :as => :select, :collection => @tipos, :label => "Tipo"%>
              <% end %>
            </td>
            <td id="Otro">
            </td>
          </tr>
        <% end %>
      <% if flash[:accion] == "Agregar Documento" %>
          <tr>
            <td>
              <%= f.input :producto_id, :as => :hidden, :input_html => { :value => @producto_id } %>
            </td>
          </tr>
        <% end %>

        <tr>
          <td>
            <%= f.input :fecha_vencimiento, :as => :string, :class=> "date_picker", :label => "Vence" %>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :pdf, :as => :file, :label => false %>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <div id="presentacion_id_form">
              <% if not @presentaciones.nil? %>
                <%= f.input :presentacion_id, :as => :select, :collection => @presentaciones.map{|x| [x.empaque, x.id] },
                :input_html => { :disable => true, :id => "presentacion_id_input" }, :label => "Presentación"%>
              <% else %>
                <p> No existen presentaciones asociadas a a este producto</p>
                <%= link_to 'Registrar presentación', new_presentacion_path %>
              <% end %>
            </div>
            <div id="importador_id_form">
              <%= f.input :importador_id, :as => :select, :collection => @importadores.map{|x| [x.nombre, x.id] },
                :input_html => { :disable => true, :id => "importador_id_input" }, :label => "Importador" %>
            </div>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.action :submit, :label => flash[:accion], :button_html => { :disable_with => "Enviando..."} %>
          </td>
          <td></td>
        </tr>

    </table>
<% end %>
</div>
<div class="span4"></div>
