<p id="notice"><%= notice %></p>

<p>
  <b>Tipo:</b>
  <%= @documento.tipo %>
</p>

<p>
  <b>Fecha vencimiento:</b>
  <%= @documento.fecha_vencimiento %>
</p>

<p>
  <b>Alerta:</b>
  <%= @documento.alerta %>
</p>

<p>
  <b>Fecha emision:</b>
  <%= @documento.fecha_emision %>
</p>

<p>
  <b>Archivo:</b>
  <%= @documento.archivo %>
</p>

<p>
  <b>Producto:</b>
  <%= @documento.producto %>
</p>

<%= image_tag @documento.pdf.url %>


<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
