<table class="area_show">
  <tr>
    <td>
      <h1><%=@requisito.TipoRequisito.name %></h1>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li><b>Solicitud:</b> <%= @requisito.tramite.TipoDocumento.descripcion%></li>
        <li><b>Producto:</b> 
        <% if @requisito.tramite.producto %>
          <%= @requisito.tramite.producto.nombre%>
        <% else %>
          Nuevo producto
        <% end %>
          </li>

        <li>
        <b>Estado:</b>
        <% case @requisito.estado %>
        <% when 0 %>
          No recibido
        <% when 1 %>
          Recibido
        <% when 2 %>
          En proceso
        <% when 3 %>
          Aceptado
        <% when 4 %>
          Rechazado
        <% end %>
        </li>
        <% if not @requisito.observacion.nil?%>
          <li>
          <b>Observación</b>
          <div id="obs_req"><%= @requisito.observacion %></div>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td><%= button_to 'Volver', @requisito.tramite, :method => :get%></td>
  </tr>
</table>
