<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Productos Kiwi</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrapper" class ="container">

      <% if usuario_signed_in? %>
        <div class="row">
          <div class="span3 logo"><%= image_tag 'logo_Moa.png'%></div> 
          <div class="span9">
            <%= render 'layouts/header' %>
            <%= render 'layouts/navigation' %>
          </div>
        </div>
      <% end %>
      <div id="body" class="row">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
