<%= semantic_form_for @usuario do |f| %>
  <ul>
    <table class="table_forms">
      <thead>
        <tr>
          <td colspan="2">
            <h1>
              <%= @accion %>
            </h1>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= f.input :login, :label => "Usuario" %>
          </td>
          <td>
            <%= f.input :email, :label => "Correo"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :password, :label => "Contraseña" %>
          </td>
          <td>
            <%= f.input :password_confirmation, :label => "Confirmación" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :compania, :label => "Compañia"%>
          </td>
          <td>
            <%= f.input :rif, :label => "RIF"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :nombre, :label => "Nombre"%>
          </td>
          <td>
            <%= f.input :apellido, :label => "Apellido"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :telefono, :label => "Teléfono"%>
          </td>
          <td>
            <% if current_usuario.admin == 2 %>
              <%= f.input :admin, :label => "Permisología", :as => :radio, :collection => [["Cliente", 0], ["Admin", 1], ["Super-Admin", 2]]%>
            <% else %>
              <%= f.input :admin, :as => :hidden, :value => 0 %>
            <%= f.actions %>
            <% end %>

          </td>
        </tr>
        <% if current_usuario.admin == 2 %> 
        <tr>
          <td>
            <%= f.actions %>
          </td>
          <td></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </ul>
<% end %>
