<%= semantic_form_for @usuario do |f| %>
  <ul>
    <table class="table_forms">
      <thead>
        <tr>
          <td colspan="2">
            <h1>
              <%=flash[:accion]%>
            </h1>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= f.input :login, :label => "Usuario" %>
          </td>
          <td>
            <%= f.input :email, :label => "Correo"%>
          </td>
        </tr>
        <%= f.input :password, :as => :hidden, :input_html => {:value => flash[:contrasena] }  %>
        <tr>
          <td>
            <%= f.input :nombre, :label => "Nombre"%>
          </td>
          <td>
            <%= f.input :apellido, :label => "Apellido"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :compania, :label => "Compañia"%>
          </td>
          <td>
            <%= f.input :telefono, :label => "Teléfono"%>
          </td>
        </tr>
        <tr>
          <td>
            <% if current_usuario.admin == 2 %>
              <%= f.input :admin, :label => "Permisos", :as => :radio, :collection => [["Cliente", 0], ["Admin", 1], ["Super-Admin", 2]]%>
            <% else %>
              <%= f.input :admin, :as => :hidden, :input_html => { :value => 0 } %>
                <%= f.action :submit, :label => flash[:accion] %>
              <button style= Padding:10px>
                <%= link_to 'Volver', @usuario %>
              </button>
            <% end %>
          </td>
          <td>
            <% if current_usuario.admin == 0 %>
              <%= f.input :rif, :label => "RIF"%>
              <% end %>
          </td>
          
        </tr>
        <% if current_usuario.admin == 2 %> 
        <tr>
          <td>
            <center>
              <%= f.action :submit, :label => flash[:accion] %>
            </center>
            <button style= Padding:10px>
              <%= link_to 'Volver', @usuario %>
            </button>

          </td>
          <td></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </ul>
<% end %>
