<div class="span3"></div>
<div class="span6">
  <legend>
    <h3>
      <%=flash[:accion]%>
    </h3>
  </legend>
<%= semantic_form_for @usuario do |f| %>
  <ul>
    <table>
      <tbody>
        <tr>
          <td>
            <%= f.input :login, :label => "Usuario" %>
          </td>
          <td>
            <%= f.input :email, :label => "Correo"%>
          </td>
        </tr>
        <%= f.input :password, :as => :hidden, :input_html => {:value => flash[:contrasena] }  %>
        <tr>
          <td>
            <%= f.input :nombre, :label => "Nombre"%>
          </td>
          <td>
            <%= f.input :apellido, :label => "Apellido"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :compania, :label => "Compañia"%>
          </td>
          <td>
            <%= f.input :telefono, :label => "Teléfono"%>
          </td>
        </tr>
        <tr>
          <td>
            <% if current_usuario.admin == 2 %>
              <%= f.input :admin, :label => "Permisos", :as => :radio, :collection => [["Cliente", 0], ["Admin", 1], ["Super-Admin", 2]]%>
            <% else %>
              <%= f.input :admin, :as => :hidden, :input_html => { :value => 0 } %>
                <%= f.action :submit, :label => flash[:accion] %>
           <% end %>
          </td>
          <td>
              <%= f.input :rif, :label => "RIF"%>
          </td>
          
        </tr>
        <% if current_usuario.admin == 2 %> 
        <tr>
          <td>
            <center>
              <%= f.action :submit, :label => flash[:accion] %>
            </center>

          </td>
          <td>
            <% if current_usuario.admin == 2 %>
              <%= f.input :bloqueado, :label => "Status", :as => :radio, :collection => [["Habilitado", 0], ["Deshabilitado", 1]]%>
            
            <% end %>            
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </ul>
<% end %>
</div>
<div class="span3"></div>
