<div class="span2"></div>
<div class="span7">
  <legend>
    <h3>
      <%=flash[:accion]%>
    </h3>
  </legend>
<%= semantic_form_for @usuario do |f| %>
  <ul> <table class="forms_tables">
      <tbody>
        <% if alert %>
          <tr><td><p><%= alert %></p></td>
        <% end %>
        <tr>
          <td>
            <%= f.input :login, :label => "Usuario" %>
          </td>
          <td>
            <%= f.input :email, :label => "Correo"%>
          </td>
        </tr>
        <%= f.input :password, :as => :hidden, :input_html => {:value => flash[:contrasena] }  %>
        <tr>
          <td>
            <%= f.input :nombre, :label => "Nombre"%>
          </td>
          <td>
            <%= f.input :apellido, :label => "Apellido"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :compania, :label => "Compañia"%>
          </td>
          <td>
            <%= f.input :telefono, :label => "Teléfono"%>
          </td>
        </tr>
        <tr>
          <td>
            <% if current_usuario.admin == 2 %>
              <%= f.input :admin, :label => "Permisos", :as => :select, :collection => [["Cliente", 0], ["Admin", 1], ["Super-Admin", 2]], :include_blank => false %>
              </td>
              <td>
                <p style="color:red; display:none;" id="pista1">Si no selecciona un tipo, el usuario será transcriptor por defecto</p>
                <%= f.input :transcriptor, :label => "Transcriptor", :as => :boolean, :input_html => { :class => "tipo_admin" }%>
                <%= f.input :responsable, :label => "Responsable", :as => :boolean, :input_html => { :class => "tipo_admin" }%>
              </td>
            <% else %>
              <%= f.input :admin, :as => :hidden, :input_html => { :value => 0 } %>
              <%= f.action :submit, :label => flash[:accion], :button_html => { :disable_with => "Enviando..."}  %>
            </td>
           <% end %>
        </tr>
        <tr>
          <td>
            <% if current_usuario.admin == 2 %>
              <%= f.input :bloqueado, :label => "Status", :as => :radio, :collection => [["Habilitado", 0], ["Deshabilitado", 1]]%>
            <% end %>            
          </td>
          <td>
              <%= f.input :rif, :label => "RIF"%>
          </td>
        </tr>
        <% if current_usuario.admin == 2 %> 
        <tr>
          <td>
            <center>
              <%= f.action :submit, :label => flash[:accion], :button_html => { :disable_with => "Enviando...", :id => "new_usuario_button" } %>
            </center>

          </td>
          <td></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </ul>
<% end %>
</div>
<div class="span3"></div>
