<%= semantic_form_for @usuario, :remote => true, :url => update_password_usuarios_path do |f| %>
  <ul>
    <table class="table_forms" style="border: none;">
      <tbody>
        <tr>
          <td>
            <%= f.input :oldpassword, :label => "Contrase単a actual"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :password, :label => "Contrase単a nueva"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :password_confirmation, :label => "Confirmar contrase単a"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.action :submit, :label => "Cambiar contrase単a" %>
          </td>
        </tr>
      </tbody>
    </table>
  </ul>
<% end %>

