<link href="/assets/dataTables/jquery.dataTables.css?body=1" media="all" rel="stylesheet" type="text/css" />
<span class="titulos_list">
  <h1>Usuarios</h1>
</span>

<button class="new_element">
  <%= link_to 'Nuevo Usuario', new_usuario_path %>
</button>

<table id="tabla_list_usuario">
  <thead>
      <th>Login</th>
      <th>Mail</th>
      <th>Telefono</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Compania</th>
      <th>Rif</th>
      <th>Permisos</th>
  </thead>
  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= link_to usuario.login, usuario %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.telefono %></td>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.apellido %></td>
        <td><%= usuario.compania %></td>
        <td><%= usuario.rif %></td>
        <td>
          <% case usuario.admin
            when 0 %>
            Cliente
            <%   when 1 %>
            Admin
            <%   when 2 %>
            Super-Admin
            <%   else   %>
            Error: Contactar servicio técnico.
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
