<div class="span4"></div>
<div class="span5">
  <h3>Asignación de clientes </h3>
  <h4>Usuario: <%= @usuario.login %> </h4>
  </br>
  </br>
  <%= nested_form_for @usuario do |f| %>
    <%= f.fields_for :clientes do |u| %>
      <%= u.hidden_tag :responsable_id, @usuario.id %>
      <%= u.select(:cliente_id, options_from_collection_for_select(@clientes, "id", ":cliente_id,compania")) %>
    <% end %>
    <%= f.submit "Enviar", :class => "btn btn-default"%>
  <% end %>
</div>
<div class="span3"></div>
