<div class="span4"></div>
<div class="span5">
  <h3>Asignación de clientes </h3>
  <h4>Usuario: <%= @usuario.login %> </h4>
  </br>
  </br>
  <%= nested_form_for @usuario do |f| %>
    <%= f.fields_for :clientes do |u| %>
      <%= u.hidden_field :usuario_id, :value => @usuario.id %>
      <%= u.select :cliente_id, @clientes.map{ |cliente| [cliente.compania, cliente.id] }.unshift(["Seleccione un cliente", ""]) %>
      <%= u.link_to_remove "Eliminar" %>
    <% end %>
    <%= f.link_to_add "Agregar", :clientes%>
    <%= f.submit "Enviar", :class => "btn btn-default"%>
  <% end %>
</div>
<div class="span3"></div>
