<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @usuario.login %>
</p>

<p>
  <b>Mail:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Telefono:</b>
  <%= @usuario.telefono %>
</p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @usuario.apellido %>
</p>

<p>
  <b>Compania:</b>
  <%= @usuario.compania %>
</p>

<p>
  <b>Rif:</b>
  <%= @usuario.rif %>
</p>

<p>
  <b>Permisos:</b>
      <% case @usuario.admin
           when 0 %>
           Cliente
      <%   when 1 %>
           Admin
      <%   when 2 %>
        Super-Admin
      <%   else   %>
        Contactar servicio
      <% end %>
</p>

<% if current_usuario.admin == 2 %>
  <%= link_to 'Edit', edit_usuario_path(@usuario) %> 
<% end %>
<%= link_to 'Back', usuarios_path %>
