<div class="span1"></div>
<div class="span4">
  <h3>
    Información de usuario 
    <span style="font-weight:bold;font-size:x-small;font-style:italic;">
      <% if @usuario.bloqueado == 0 %>
        <span style="color:green;"> Habilitado </span>
      <% else %>
        <span style="color:red;"> Deshabilitado </span>
      <% end %>
  </h3>
  <table class="table">
    <tr>
      <td>
        <b>Usuario:</b>
      </td>
      <td>
        <%= @usuario.login %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Nombre:</b>
      </td>
      <td>
        <%= @usuario.nombre %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Apellido:</b>
      </td>
      <td>
        <%= @usuario.apellido %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Mail:</b>
      </td>
      <td>
        <%= @usuario.email %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Telefono:</b>
      </td>
      <td>
        <%= @usuario.telefono %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Compania:</b>
      </td>
      <td>
        <%= @usuario.compania %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Rif:</b>
      </td>
      <td>
        <%= @usuario.rif %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Tipo de usuario: </b>
      </td>
      <td>
        <% case @usuario.admin
         when 0 %>
         Cliente
         <%   when 1 %>
         Admin
         <%   when 2 %>
         Super-Admin
         <%   else   %>
         Contactar servicio técnico.
         <% end %>
       </td>
     </tr>
     <% if @usuario.admin == 1 %>
       <tr>
         <td>
           <b>Roles:</b>
         </td>
         <td>
           <ul>
             <% if @usuario.transcriptor %>
               <li> Transcriptor </li>
             <% end %>
             <% if @usuario.responsable %>
               <li>Responsable de cuenta</li>
             <% end %>
           </ul>
         </td>
       </tr>
       <tr>
         <td><b>Clientes:</b></td>
         <td>
           <ul>
             <% @clientes.each do |c| %>
               <li><%= c.compania %></li>
             <% end %>
           </ul>
         </td>
       </tr>
     <% end %>
  </table>
</div>
<div class="span2"></div>
<div class="span4">
  <h3>Configuración</h3>
  <table>
    <% if current_usuario.admin == 2  or  current_usuario.login == @usuario.login %>
    <tr>
      <td>
         <%= image_tag("/assets/edit.jpg", :class => "cos_icon", :title => "Editar Perfil") %>          
         <%= link_to 'Editar Perfil', edit_usuario_path(@usuario)%>
      </td>
    </tr>
    <% end %>
    <% if current_usuario.login == @usuario.login%>
    <tr>
      <td>
         <%= image_tag("/assets/password.png", :class => "cos_icon")%>
         <%=link_to 'Cambiar Contraseña', edit_password_usuarios_path, :remote => true, :id => "cambiar_contr"  %> 
      </td>
    </tr>
    <% end %>
    <% if current_usuario.admin == 2 and current_usuario.login != @usuario.login %>
      <tr><td>
        <%= image_tag("/assets/assign.png", :class => "cos_icon", :title => "Asignar clientes")%>
        <%= link_to 'Asignar clientes', new_asignar_cliente_usuarios_path(@usuario.id) %>
      </td></tr>
    <tr>
      <td>
         <%= image_tag("/assets/delete.png", :class => "cos_icon", :title => "Eliminar Usuario")%>
         <%= link_to 'Eliminar Usuario', @usuario, method: :delete, data: { confirm: '¿Seguro desea eliminar este usuario?' } %>
      </td>
    </tr>
    <% end %>
    <% if current_usuario.admin > 0 and @usuario.admin == 0%>
    <tr>
      <td>
         <%= image_tag("/assets/listar.png", :class => "cos_icon", :title => "Listar Productos")%>
         <%= link_to 'Listar sus Productos', productos_usuario_productos_path(:usuario => @usuario) %>
      </td>
    </tr>
    <tr>
      <td>
         <%= image_tag("/assets/listar.png", :class => "cos_icon", :title => "Listar Productos")%>
         <%= link_to 'Listar sus Solicitudes', tramites_usuario_tramites_path(:usuario => @usuario) %>
      </td>
    </tr>
    <tr>
      <td>
         <%= image_tag("/assets/listar.png", :class => "cos_icon", :title => "Listar Productos")%>
         <%= link_to 'Listar documentos (todos)', documentos_index_usuario_path(:id => @usuario.id) %>
      </td>
    </tr>
    <tr>
      <td>
         <%= image_tag("/assets/listar.png", :class => "cos_icon", :title => "Listar Productos")%>
         <%= link_to 'Ver registro', logsesions_show_by_user_path(:id => @usuario.id) %>
      </td>
    </tr>
    <% end %>
  </table>
 <div id="dialog_contr" style="display:none;" style="margin:0; padding:0; height: 300px;"></div>
</div>
<div class="span1"></div>
