<div class="span1"></div>
<div class="span5 divider">
    <h3>
    <% if current_usuario.admin > 0 %>
      Registros
    <% else %>
      Mis productos
    <% end %>
    </h3>
  <table id="mis_productos" class="table table-hover table-striped">
    <thead>
      <% if current_usuario.admin == 0 %>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Registro</th>
      <% else %>
        <th>Usuario</th>
        <th>Actividad</th>
        <th>Fecha</th>
      <% end %>
    </thead>
    <tbody>
      <% if current_usuario.admin == 0%>
        <!-- NOTE: for de los productos/registros -->
        <% @productos.each do |p|%>
          <tr>
            <td><%= link_to p.nombre, p%></td>
            <td><%=p.marca %></td>
            <td><%=p.registro_sanitario%></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="span5">
    <h3>
    <% if current_usuario.admin > 0 %>
      Todas las solicitudes
    <% else %>
      Mis solicitudes
    <% end %>
    </h3>
  <table id="mis_solicitudes" class="table table-hover table-striped">
    <thead>
      <th>Solicitud</th>
    </thead>
    <tbody>
      <% @tablader.each_with_index do |t, index| %>
        <tr>
          <td>
              <div class="pull-right">
              <% case t.estado 
                  when 0 %>
                  <span class="label">enviado</span>
                <% when 1%>
                  <span class="label label-info">recibido</span>
                <% when 2%>
                  <span class="label label-warning">procesando</span>
                <% when 3%>
                  <span class="label label-success">terminado</span>
                <% when 4%>
                  <span class="label label-danger">rechazado</span>
              <% end %>
              </div>

              <div class="list-group">
              <% if t.recibido or current_usuario.admin > 0 %>
                <%= link_to (t) do%>
                  <h5 class="list-group.item-heading">
                    <b>#<%=t.id %></b>
                    <%= t.TipoDocumento.descripcion %>
                  </h5>
                  <p class="list-group-item-text">
                  <% if not t.producto.nil? %>
                    <%=t.producto.nombre%>
                  <% else %>
                    nuevo producto
                  <% end %>
                  </p>
                <% end %>
              <% else %>
                <h5 class="list-group.item-heading">
                  <b>#<%=t.id %></b>
                  <%= t.TipoDocumento.descripcion %>
                </h5>
                <p class="list-group-item-text">
                <% if not t.producto.nil? %>
                  <%=t.producto.nombre%>
                <% else %>
                  nuevo producto
                <% end %>
                </p>
              <% end %>
              </div>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="span1"></div>
