<center>
  <table id="tablas_inicio" >
    <tr>
      <% if current_usuario.admin == 0 %>
        <td class="titulos_inicio">Mis productos</td>
        <td class="titulos_inicio">Mis Solicitudes</td>
      <% else %>
        <td class="titulos_inicio">Registro de Actividades</td>
        <td class="titulos_inicio">Solicitudes Pendientes</td>
      <% end %>
    </tr>
    <tr>
      <td>
        <table id="mis_productos">
          <thead>
            <% if current_usuario.admin == 0 %>
              <th>Nombre</th>
              <th>Marca</th>
              <th>Registro</th>
            <% else %>
              <th>Usuario</th>
              <th>Actividad</th>
              <th>Fecha</th>
            <% end %>
          </thead>
          <tbody>
            <% if current_usuario.admin == 0%>
              <!-- NOTE: for de los porductos/registros -->
              <% @productos.each do |p|%>
                <tr>
                  <td><%= link_to p.nombre, p%></td>
                  <td><%=p.marca %></td>
                  <td><%=p.registro_sanitario%></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </td>
      <td>
        <table id="mis_solicitudes">
          <thead>
            <th>Solicitud</th>
          </thead>
          <tbody>
            <% @tablader.each_with_index do |t, index| %>
              <tr>
                <td style="text-align: left; height:70px;">
                  <%= content_tag "span", class: "content-tramite", id:"estado"+index.to_s, data: { requisito: t } do %>
                    <% if t.recibido or current_usuario.admin > 0 %>
                      <%= link_to (t) do%>
                        <ul style="height:0;">
                          <li>
                          <%= t.TipoDocumento.descripcion %>
                          </li>
                          <li style="font-size:10px; margin-bottom:10px;">
                          <% if not t.producto.nil? %>
                            <%=t.producto.nombre%>
                          <% else %>
                            nuevo producto
                          <% end %>
                          </li>
                        <% end %>
                      <% else %>
                        <ul style="height:0;">
                          <li>
                          <%= t.TipoDocumento.descripcion %>
                          </li>
                          <li style="font-size:10px; margin-bottom:10px;">
                          <% if not t.producto.nil? %>
                            <%=t.producto.nombre%>
                          <% else %>
                            nuevo producto
                          <% end %>
                          </li>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>

            </table>
          </td>
          <table style="width:400px;">
            <tr>
              <td><div class="alerta" style="background: white;float:left"></div><div style="font-size:x-small">No recibido</div></td>
              <td><div class="alerta" style="background: blue;float:left">  </div><div style="font-size:x-small">Recibido</div></td>
              <td><div class="alerta" style="background: green;float:left"></div><div style="font-size:x-small">Aceptado </div></td>
              <td><div class="alerta" style="background: red;float:left">  </div><div style="font-size:x-small">Rechazado</div></td>
              <td><div class="alerta" style="background: yellow;float:left">  </div><div style="font-size:x-small">En proceso</div></td>
            </tr>
          </table>

        </tr>

      </table>

    </center>
