<center>
  <table id="tablas_inicio" >
    <tr>
      <% if current_usuario.admin == 0 %>
        <td class="titulos_inicio">Mis productos</td>
        <td class="titulos_inicio">Mis Solicitudes</td>
      <% else %>
        <td class="titulos_inicio">Registro de Actividades</td>
        <td class="titulos_inicio">Solicitudes Pendientes</td>
      <% end %>
    </tr>
    <tr>
      <td>
        <table id="mis_productos">
          <thead>
            <% if current_usuario.admin == 0 %>
              <th>Nombre</th>
              <th>Marca</th>
              <th>Registro</th>
            <% else %>
              <th>Usuario</th>
              <th>Actividad</th>
              <th>Fecha</th>
            <% end %>
          </thead>
          <tbody>
            <% if current_usuario.admin == 0%>
              <!-- NOTE: for de los porductos/registros -->
              <% @productos.each do |p|%>
                <tr>
                  <td><%= link_to p.nombre, p%></td>
                  <td><%=p.marca %></td>
                  <td><%=p.registro_sanitario%></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </td>
      <td>
        <table id="mis_solicitudes">
          <thead>
              <th>Nombre</th>
              <th>Producto</th>
              <% if current_usuario.admin > 0 %>
                <th>Usuario</th>
              <% end %>
              <th class="estado">Edo</th>
          </thead>
          <tbody>
            <% @tablader.each do |elem| %>
            <!-- NOTE: for de las solicitudes -->
            <tr>
              <% if not elem.recibido %>
                <td><%= elem.TipoDocumento.descripcion %></td>
              <% else %>
                <td><%= link_to elem.TipoDocumento.descripcion, elem %></td>
              <% end %>
              <td><%= elem.producto.nombre unless elem.producto.nil? %></td>
              <% if current_usuario.admin > 0 %>
                <td><%= elem.usuario.compania %></td>
              <% end %>
              <td class="estado alerta" title="Por enviar" style="background: white">a</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</center>
