<%= semantic_form_for @presentacion do |f| %>
  <ul>
    <table class="table_forms">
      <thead>
        <tr>
          <td colspan="2">
            <h1>
              <%=flash[:accion]%>
            </h1>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= f.input :cpe, :label => "Nº CPE"%>
          </td>
          <td>
            <%= f.input :fecha_vencimiento, :as => :string, :class=> "date_picker", :label => "Vence" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :empaque, :label => "Empaque" %>
          </td>
          <td>
            <%= f.input :peso_neto, :label => "Peso neto"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :peso_escurrido, :label => "Peso escurrido"%>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <%= f.action :submit, :label => flash[:accion] %>
            <button>
              <%= link_to 'Volver', :back %>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ul>
<% end %>
