<div class="span3"></div>
<div class="span5">
<legend>
  <%=flash[:accion]%>
</legend>
<%= semantic_form_for @presentacion do |f| %>
  <table>
    <% if flash[:accion] == "Nueva Presentación" %>
    <tr>
      <td>
        <%= f.input :productos_id, :as => :hidden, :value => @productos_id %>
      </td>
    </tr>
    <% end %> 
        <tr>
          <td>
            <%= f.input :cpe, :label => "Nº CPE"%>
          </td>
          <td>
            <%= f.input :fecha_vencimiento, :as => :string, :class=> "date_picker", :label => "Vence" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :empaque, :label => "Empaque" %>
          </td>
          <td>
            <%= f.input :peso_neto, :label => "Peso neto"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :peso_escurrido, :label => "Peso escurrido"%>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.action :submit, :label => flash[:accion], :button_html => { :disable_with => "Enviando..."} %>
          </td>
          <td>
            <button type="button" class="btn btn-default">
              <%= link_to 'Volver', :back %>
            </button>
          </td>
        </tr>
    </table>
<% end %>
</div>
<div class="span3"></div>
