<table id="new_tramite_table" class="area_show">
  <thead>
        <tr style="background:#133a6b;color:white">
          <td colspan="2">
            
              <h1 style="margin-left:20px">
                Nueva Solicitud
              </h1>
            
          </td>
        </tr>

      </thead>
  <tr>
    <td>
      <table>
        <tbody>
          <tr>
            <td>
              <table id="producto_tramite">
                <thead>
                  <th>Mis Productos</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <%= content_tag "div", id: "producto_selected", data: {productos: ""} do %>
                        [Nuevo producto]
                      <% end %>
                    </td>
                  </tr>
                  <% @productos.each do |p| %>
                    <tr>
                      <td>
                        <%= content_tag "div", data: {productos: p } do %>
                          <%=p.nombre%>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
    <td>
      <table>
        <tbody>
          <tr>
            <td>
              <table id="tipo_tramite">
                <thead>
                  <th>Tipos de solicitud</th>
                </thead>
                <tbody>
                  <% @tipos.each do |t| %>
                    <tr>
                      <td>
                        <%= content_tag "div", data: {tipo: t} do %>
                          <%=t.descripcion%>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= semantic_form_for @tramite do |f| %>
        <%= f.input :producto_id, :as => :hidden, :input_html => {:id => "input_producto_tramite"}%>
        <%= f.input :TipoDocumento_id, :as => :hidden, :input_html => { :id => "input_tipodoc_tramite" }%>
      
        <center style='font-size:x-small'>*Si desea realizar una solicitud para un producto que no esté en sistema, seleccione [Nuevo producto]</center>

        <div style="margin-left:257px;margin-top:9px">
          <%= f.submit :value => "Enviar solicitud", :id => "crear_solicitud" %>
        
          <button style="margin-left:4px">
            <%= link_to 'Volver', :back %>
          </button>
        </div>
      <% end %>
    </td>
  </tr>
</table>

