<%= form_for(@tramite) do |f| %>
  <% if @tramite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tramite.errors.count, "error") %> prohibited this tramite from being saved:</h2>

      <ul>
      <% @tramite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo_seguimiento %><br />
    <%= f.text_field :codigo_seguimiento %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.number_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.number_field :estado %>
  </div>
  <div class="field">
    <%= f.label :fecha_recepcion %><br />
    <%= f.date_select :fecha_recepcion %>
  </div>
  <div class="field">
    <%= f.label :observacion %><br />
    <%= f.text_area :observacion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
