<div class="span2"></div>
<div class="span8">
<table id="solicitud_tramite_filtro" class="table table-hover table-striped">
    <thead>
      <th style="text-align: center;"><h3>Solicitudes</h3></th>
    </thead>
    <tbody>
      <% @tramites.sort {|a,b| b.id <=> a.id }.each_with_index do |t, index| %>
        <tr>
          <td>
              <div class="pull-right">
              <% case t.estado 
                  when 0 %>
                  <span class="label">enviado</span>
                <% when 1%>
                  <span class="label label-info">recibido</span>
                <% when 2%>
                  <span class="label label-warning">procesando</span>
                <% when 3%>
                  <span class="label label-success">terminado</span>
                <% when 4%>
                  <span class="label label-danger">rechazado</span>
              <% end %>
              </div>

              <div class="list-group">
              <% if t.recibido or current_usuario.admin > 0 %>
                <%= link_to (t) do%>
                  <h5 class="list-group.item-heading">
                    <b>#<%=t.id %></b>
                    <%= t.TipoDocumento.descripcion %>
                  </h5>
                  <p class="list-group-item-text">
                  <% if not t.producto.nil? %>
                    <%=t.producto.nombre%>
                  <% else %>
                    nuevo producto
                  <% end %>
                  </p>
                <% end %>
              <% else %>
                <h5 class="list-group.item-heading">
                  <b>#<%=t.id %></b>
                  <%= t.TipoDocumento.descripcion %>
                </h5>
                <p class="list-group-item-text">
                <% if not t.producto.nil? %>
                  <%=t.producto.nombre%>
                <% else %>
                  nuevo producto
                <% end %>
                </p>
              <% end %>
              </div>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="span2"></div>
