<h1><%= flash[:title] %></h1>

<% if current_usuario.admin == 0 %>
  <%= button_to 'Nueva solicitud', new_tramite_path, :method => :get %>
<% end %>
<div class="area_filtro">
  <div class="filtro_wrapper">
    <table id="tipo_tramite_filtro">
      <thead>
        <th>Tipo</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div class="filtro_wrapper" id="solicitud_tramite_wrapper">
    <table id="solicitud_tramite_filtro">
      <thead>
        <th>Solicitud</th>
      </thead>
      <tbody>
        <% @tramites.each_with_index do |t, index| %>
          <tr>
            <td>
              <%= content_tag "span", class: "content-tramite", id:"estado"+index.to_s, data: { requisito: t } do %>
                <% if t.recibido or current_usuario.admin > 0 %>
                  <%= link_to t.TipoDocumento.descripcion, t %>
                <% else %>
                  <%= t.TipoDocumento.descripcion %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table style="min-width:250px">
      <tr>
        <td><div class="alerta" style="background: white;float:left"></div><div style="font-size:x-small">Stand-by </div></td>
        <td><div class="alerta" style="background: green;float:left"></div><div style="font-size:x-small">Aceptado </div></td>
        <td><div class="alerta" style="background: red;float:left">  </div><div style="font-size:x-small">Rechazado</div></td>
      </tr>
    </table>
  </div>
</div>
