<div class="span1"></div>
<div class="span4">
  <h3><%= @tramite.TipoDocumento.descripcion %></h3>
  <table class="table">
    <tr>
      <td style="width:25%;padding-right: 10px;">
        <b>#Solicitud:</b>
      </td>
      <td>
        <%= @tramite.id %>
      </td>
    </tr>
    <% if not @tramite.producto.nil? %>
      <tr>
        <td>
          <b>Producto:</b>
        </td>
        <td>
          <%= @tramite.producto.nombre %>
        </td>
      </tr>
    <% end %>
    <% if current_usuario.admin > 0 %>
      <tr>
        <td> <b>Cliente:</b></td>
        <td> <%= @tramite.usuario.compania%></td>
      </tr>
    <% end %>
    <% if @tramite.recibido %>
      <tr>
        <td style="padding-top: 10px;">
          <b>Fecha<br> Solicitud:</b>
        </td>
        <td>
          <%= @tramite.fecha_recepcion %>
        </td>
      </tr>
      <tr>
        <td style="padding-top: 10px;">
          <b>#Requisitos<br> faltantes:</b>
        </td>
        <td>
          <%= @req_faltantes %>
        </td>
      </tr>
    <% end %>
  </table>
  <% if current_usuario.admin > 0 %>
    <table>
      <% if not @tramite.recibido %>       
        <tr>
          <%= semantic_form_for @tramite, :url => check_tramites_path(:id => @tramite.id) do |f| %>
            <%= f.input :recibido, :as => :hidden, :value => true %>
            <%= f.input :fecha_recepcion , :as => :hidden, :value => Date.today %>
            <%= f.input :estado, :as => :hidden, :value => 1 %>
            <td>
              <%= f.action :submit, :label => "Aceptar", :class => 'pull-left' %>
            </td>
          <% end %>
          <%= semantic_form_for @tramite, :url => check_tramites_path(:id => @tramite.id) do |f| %>
            <%= f.input :recibido, :as => :hidden, :value => false%>
            <td>
            <%= f.action :submit,  :label => "Rechazar"%>
          </td>
        </tr>
          <% end %>
      <% else %>
        <tr>
            <td>
              <button>
                <%= link_to 'Editar', edit_tramite_path(@tramite) %>
              </button>
            </td>
        <% if @req_faltantes == 0 %>
          <td>
            <button>
              <%= link_to 'Agregar MALasdasd Documento', new_documento_path( :producto_id => @tramite.producto )%>
            </button>
          </td>
        <% else %>
          <td>
          </td>
        <% end %>
        </tr>
        <% end %>
    </table>
    <% end %>
  </div>
  <div class="span2"></div>
  <div class="span4">
    <h3>Requisitos</h3>
    <table class="table table-hover table-striped">
      <% @tramite.requisitos.each_with_index do |r,i| %>
        <tr>
          <td>
            <div class="pull-right">
              <% case r.estado 
                when 0 %>
                  <span class="label">no recibido</span>
                <% when 3%>
                  <span class="label label-success">aceptado</span>
                <% when 4%>
                  <span class="label label-danger">rechazado</span>
                <% end %>
            </div>
            <%= link_to r.TipoRequisito.name, r, :remote => :true, :id => "req#{i}" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="span1">
    <div id="show-requisito"></div>
    <script>
      for (var i = 0; i < <%= @tramite.requisitos.length%>; ++i) {
        $("#req"+i).click(function() {
          $( this ).bind("ajax:success", function(event, data, status, xhr){
            $("#show-requisito").html(xhr.responseText);
          $("#show-requisito").dialog({
            "width" : "400",
            "height": "300",
            "title" : "Requisito"
          })
          }
          )
        })
      }
    </script>
  </div>
