<table class="area_show" id="area_tramite">
  <tr>
    <td>
      <div class="title_show">
        <h2><%= @tramite.TipoDocumento.descripcion %></h2>
      </div>
    </td>
    <td rowspan="2">
     <table id="requisitos_show">
       <thead>
         <th>
           <h2>Requisitos</h2>
         </th>
       </thead>
       <tbody>
         <% @tramite.requisitos.each do |r| %>
         <tr>
           <td><%= r.TipoRequisito.name %> <!--<canvas class="estados" style=" width="15" height="15"></canvas>--></td>
         </tr>
       <% end %>
       </tbody>
     </table>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <table class="tabla_show">
        <% if not @tramite.producto.nil? %>
          <tr>
            <td>
              <b>Producto:</b>
            </td>
            <td>
              <%= @tramite.producto.nombre %>
            </td>
          </tr>
        <% end %>
        <% if current_usuario.admin > 0 %>
          <tr>
            <td> <b>Cliente:</b></td>
            <%  %>
            <td> <%= @tramite.usuario.compania%></td>
          </tr>
        <% end %>
        <% if @tramite.recibido %>
        <tr>
          <td>
            <b>Fecha Solicitud:</b>
          </td>
          <td>
            <%= @tramite.fecha_recepcion %>
          </td>
        </tr>
        <tr>
          <td>
            <b>#Requisitos faltantes:</b>
          </td>
          <td>
            <%= @req_faltantes %>
          </td>
        </tr>
      <% end %>
      </table>
  </td>
</tr>
<tr>
  <td>
    <button style="padding:10px; margin-left: 30px;">
      <%= link_to 'Volver', tramites_path %>
    </button>
  </td>
</tr>
<% if current_usuario.admin > 0 and  not @tramite.recibido %>
  <tr>
    <td colspan="2">
      <center>
        <%= semantic_form_for @tramite, :url => check_tramites_path(:id => @tramite.id) do |f| %>
          <%= f.input :recibido, :as => :hidden, :value => true %>
          <%= f.input :fecha_recepcion , :as => :hidden, :value => Date.today %>
          <%= f.action :submit, :label => "Aceptar" %>
        <% end %>
        <%= semantic_form_for @tramite, :url => check_tramites_path(:id => @tramite.id) do |f| %>
          <%= f.input :recibido, :as => :hidden, :value => false%>
          <%= f.action :submit,  :label => "Rechazar" %>
        <% end %>
      </center>
    </td>
  </tr>
<% end %>
 </table>
