<p id="notice"><%= notice %></p>

<p><%= @tramite.TipoDocumento.descripcion%></p>
<p>
  <b>Estado:</b>
  <%= @tramite.estado %>
</p>

<p>
  <b>Fecha recepcion:</b>
  <%= @tramite.fecha_recepcion %>
</p>

<p>
  <b>Observacion:</b>
  <%= @tramite.observacion %>
  </p>

  <ul>
  <% @tramite.requisitos.each do |r| %>
    <li>
    <%= r.TipoRequisito.name %>
    </li>
  <% end %>
  </ul>

<%= link_to 'Edit', edit_tramite_path(@tramite) %> |
<%= link_to 'Back', tramites_path %>
