<h1>Listing logsesions</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @logsesions.each do |logsesion| %>
  <tr>
    <td><%= logsesion.usuario_id %></td>
    <td><%= logsesion.tipo %></td>
    <td><%= link_to 'Show', logsesion %></td>
    <td><%= link_to 'Edit', edit_logsesion_path(logsesion) %></td>
    <td><%= link_to 'Destroy', logsesion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Logsesion', new_logsesion_path %>
