<div class="span1"></div>
<div class="span10">
<h3>Registro Productos</h3>
<%= link_to 'estadisticas', statistics_new_path %>
<div>
  <table class="table table-striped" id="tabla_show_log_prod">
    <thead>
      <th style="width:150px">Usuario</th>
      <th style="width:530px">Producto</th>
      <th style="width:80px;text-align: center;">Acción</th>
      <th style="text-align: center;">Fecha</th>
    </thead>

    <tbody style="height:320">
      <% @logproductos.each do |logproducto| %>
      <tr>
        <td style="width:150px;">
          <% if logproducto.usuario.nil? %>
          <%= logproducto.nusuario %>
          <% else %>
          <%= link_to (logproducto.usuario) do %>
          <%= logproducto.nusuario %>
          <% end %>
          <% end %>
        </td>
        <td style="width:530;">
          <% if logproducto.producto.nil? %>
          <%= logproducto.nproducto %>
          <% else %>
          <%= link_to (logproducto.producto) do %>
          <%= logproducto.nproducto %>
          <% end %>
          <% end %>
        </td>
        <td style="width:80px; text-align: center;">
          <%= logproducto.tipo %>
        </td>
        <td style="text-align: center;">
          <%= logproducto.created_at.strftime("%I:%M%p")%>
          <%= logproducto.created_at.day%>/<%= logproducto.created_at.month%>/<%= logproducto.created_at.year%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
<div class="span1"></div>
