<h2>Hola <%= @usuario.nombre%></h2>

<p>El documento <b><%= @tipo %></b> del producto <b><%= @producto.nombre%></b> <p>
<p> de registro sanitario <b><%= @producto.registro_sanitario %></b> vence 
<% if @mes == 0 %>
  este mes.
<% else %>
  en <%= @mes %> meses. 
<% end %></p>

<p>Si desea solicitar el trámite para renovar el documento <b><%= @tipo %></b>, 
presione <%= link_to 'aqui', vencido_tramitar_documento_url(:id => @vencido.id) %></p>
<p>Este correo se envia automáticamente cada mes. Si desea dejar de recibirlo 
presione <%= link_to 'aqui', vencido_desactivar_alerta_url(:id => @vencido.id) %> </p>
