<h2>Hola <%= @usuario.nombre%></h2>

<p>El documento <%= @tipo %> del producto <%= @producto.nombre%> vence en <%= @meses %> meses </p>
<p>Si desea empezar el trámite para renovar el documento <%= @tipo %>, presione <a>aquí</a></p>
</br>
<p>Este correo se envia automñaticamente cada mes. Si desea dejar de recibirlo presione <a>aquí</a></p>
