<div class="span3"></div>
<div class="span5">
<legend>
  <%=flash[:accion]%>
</legend>
<%= semantic_form_for @importador do |f| %>
  <table>
      <tr>
        <td>
          <%= f.input :nombre, :label => "Nombre"%>
        </td>
        <td>
          <%= f.input :rif, :label => "RIF"%>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.input :pais_origen, :as => :country, :label => "Procedencia"%>
        </td>
        <td>
          <%= f.input :mail, :label => "E-mail"%>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.input :telefono, :label => "Teléfono"%>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <center>
            <%= f.action :submit, :label => flash[:accion] %>
          </center>
        </td>
      </tr>
  </table>
<% end %>
</div>
<div class="span3"></div>
