<h1 style="margin-left: 20px;">Log de Tramites</h1>
<div style="margin-left: 40px;margin-bottom: 20px;">
  <button style= Padding:10px>
    <%= link_to 'Log de Documentos', logdocumento_index_path %>
  </button>
  <button style= Padding:10px>
    <%= link_to 'Log de Documentos', logdocumento_index_path %>
  </button>
</div>
<table class="dataTable" id="tabla_show_log">
  <tr>
    <th>Usuario</th>
    <th>Producto</th>
    <th>Acción</th>
    <th>Fecha</th>
    
  </tr>

<% @logtramites.each do |logtramite| %>
  <tr>
    <td style="width:150px;">
      <%= logtramite.nusuario %>
    </td>
    <td style="width:400px">
      <%= logtramite.nproducto %>
    </td>
    <td style="width:80px">
      <%= logtramite.tipo %>
    </td>
    <td>
      <%= logtramite.created_at.strftime("%I:%M%p")%> 
      <%= logtramite.created_at.day%>/<%= logtramite.created_at.month%>/<%= logtramite.created_at.year%>
    </td>
  </tr>
<% end %>
</table>
