<div class="span1"></div>
<div class="span10">
<h3>Registro Solicitudes</h3>
<div>
  <table class="table table-striped" id="tabla_show_log_tram">
    <thead>
      <th>Usuario</th>
      <th>Producto</th>
      <th>Documento</th>
      <th style="text-align: center;">Acción</th>
      <th style="text-align: center;">Fecha</th>
    </thead>

    <tbody>
      <% @logtramites.each do |logtramite| %>
      <tr>
        <td style="width:150px;">
          <% if logtramite.usuario.nil? %>
            <%= logtramite.nusuario %>
          <% else %>
            <%= link_to (logtramite.usuario) do %>
              <%= logtramite.nusuario %>
            <% end %>
          <% end %>
        </td>
        <td style="width:340px">
          <% if logtramite.producto.nil? %>
          <%= logtramite.nproducto %>
          <% else %>
          <%= link_to (logtramite.producto) do %>
          <%= logtramite.nproducto %>
          <% end %>
          <% end %>
        </td>
        <td style="width:340px">
          <% if logtramite.tramite.nil? %>
          <%= logtramite.ntipodocumento %>
          <% else %>
          <%= link_to (logtramite.tramite) do %>
          <%= logtramite.ntipodocumento %>
          <% end %>
          <% end %>
        </td>
        <td style="width:200px;text-align: center;">
          <%= logtramite.tipo %>
        </td>
        <td style="text-align: center;">
          <%= logtramite.created_at.strftime("%I:%M%p")%>
          <%= logtramite.created_at.day%>/<%= logtramite.created_at.month%>/<%= logtramite.created_at.year%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
<div class="span1"></div>
